<tr id="<%= reservation.id %>">
    <th scope="row">movie name</th>
    <td><%= reservation.name %></td>
    <td><%= reservation.email %></td>
    <td><%= reservation.cedula %></td>
    <td><%= reservation.cellphone %></td>
</tr>